# Question1 : Using yfinance to extract Tesla Stock Data

In [13]:
import yfinance as yf 
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

tesla_ticker = yf.Ticker('TSLA')
tesla_hist = tesla_ticker.history(period='max')
tesla_hist.reset_index(inplace=True)
tesla_hist.head(3)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0

# Question2 : Using webscraping to extract Tesla Stock Daata

In [95]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# HTTPS REQUEST
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
data = requests.get(url)
bsoup = BeautifulSoup(data.text,'html.parser')
data_df = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

table = bsoup.find('table')
for row in table.find("tbody").find_all('tr'):
    column = row.find_all("td")
    if len(column) >= 6:  # Ensure there are at least 6 columns (Date, Open, High, Low, Close, Volume)
        Date = column[0].text
        Open = column[1].text
        High = column[2].text
        Low = column[3].text
        Close = column[4].text
        Volume = column[5].text
        # Append data to the DataFrame
        data_df.append({"Date":Date, "Open":Open, "High":High, "Low":Low, "Close":Close, "Volume":Volume}, ignore_index=True)

data_df.head(1)

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume]
Index: []

# Question3: Extracting GameStop Stock Data Using yfinance

In [97]:
import yfinance as yf 
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

game_ticker = yf.Ticker('GME')
game_hist = game_ticker.history(period='max')
game_hist.reset_index(inplace=True)
game_hist.head(3)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716073,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0

# Question4: Extracting GameStop Revenue Data Using Web Scraping

In [103]:

import requests
from bs4 import BeautifulSoup
import pandas as pd

# HTTPS REQUEST
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
data = requests.get(url)
bsoup = BeautifulSoup(data.text,'html.parser')
data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

table = bsoup.find('table')
for row in table.find("tbody").find_all('tr'):
    column = row.find_all("td")
    if len(column) >= 6:  
        Date = column[0].text
        Open = column[1].text
        High = column[2].text
        Low = column[3].text
        Close = column[4].text
        Volume = column[5].text

        data.append({"Date":Date, "Open":Open, "High":High, "Low":Low, "Close":Close, "Volume":Volume})

data.head(1)

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume]
Index: []

# Question5: Tesla Stock and Revenue Indicator Table

In [108]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

table = soup.find_all('table', class_='historical_data_table')[0]

dates = []
revenues = []
for row in table.find('tbody').find_all('tr'):
    cols = row.find_all('td')
    dates.append(cols[0].get_text())
    revenues.append(cols[1].get_text())

tesla_revenue = pd.DataFrame({
    'Date': dates,
    'Revenue': revenues
})

print(tesla_revenue)

    Date  Revenue
0   2021  $53,823
1   2020  $31,536
2   2019  $24,578
3   2018  $21,461
4   2017  $11,759
5   2016   $7,000
6   2015   $4,046
7   2014   $3,198
8   2013   $2,013
9   2012     $413
10  2011     $204
11  2010     $117
12  2009     $112